USE [BDTestForo]
GO
/****** Object:  Table [dbo].[tbcomentario]    Script Date: 12/3/2023 08:26:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbcomentario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[comentario] [nvarchar](100) NOT NULL,
	[puntos] [int] NOT NULL,
	[cant_respuestas] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[idcomentario] [int] NULL,
	[avatar] [nvarchar](500) NULL,
 CONSTRAINT [PK_tbcomentario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbcomentario] ON 

INSERT [dbo].[tbcomentario] ([id], [nombre], [comentario], [puntos], [cant_respuestas], [fecha], [idcomentario], [avatar]) VALUES (1, N'Byron Suarez', N'Que es y para que sirve Java?', 2, 0, CAST(N'2023-03-12T14:59:44.467' AS DateTime), 0, N'')
INSERT [dbo].[tbcomentario] ([id], [nombre], [comentario], [puntos], [cant_respuestas], [fecha], [idcomentario], [avatar]) VALUES (3, N'Byron Suarez', N'Que es SQL?', 1, 0, CAST(N'2022-03-12T00:00:00.000' AS DateTime), 0, N'')
INSERT [dbo].[tbcomentario] ([id], [nombre], [comentario], [puntos], [cant_respuestas], [fecha], [idcomentario], [avatar]) VALUES (4, N'Byron Suarez', N'Que es el front-end?', 1, 1, CAST(N'2023-03-12T00:00:00.000' AS DateTime), 0, N'')
SET IDENTITY_INSERT [dbo].[tbcomentario] OFF
GO
